# .gitignore

# For the Adder project

# Ignore build directories
adder/sim/*
!adder/sim/compile.sh
!adder/sim/sim.do
!adder/sim/run.sh
adder/sim/work/*

# Don't ignore coverage files
!adder/sim/code_coverage.ucdb
!adder/sim/covhtmlreport/